<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ut.utAttendance.mapper.primary.RoleMapper">

  <resultMap id="Role" type="com.ut.utAttendance.model.Role">

  </resultMap>

  <resultMap id="RoleUser" type="com.ut.utAttendance.model.RoleUser">

  </resultMap>

  <resultMap id="ModuleType" type="com.ut.utAttendance.model.ModuleType">

  </resultMap>

</mapper>